.page-container .admin-controls {
  margin-left: -40px;
  top: 30px;
  position: relative; }
  .page-container .admin-controls .admin-button-list {
    list-style: none;
    width: 680px;
    height: 60px;
    margin: 0px auto 0px auto;
    position: relative; }
    .page-container .admin-controls .admin-button-list .admin-button {
      width: 150px;
      height: 40px;
      margin: 10px;
      text-align: center;
      padding-top: 15px;
      color: white;
      background-color: black;
      font-weight: bold;
      border-radius: 5px;
      float: left; }
      .page-container .admin-controls .admin-button-list .admin-button:hover {
        cursor: pointer; }

.page-container .admin-product-container {
  height: auto;
  width: 706px;
  min-height: 1200px;
  position: relative;
  margin: 0 auto;
  top: 70px;
  margin-bottom: 100px; }
  .page-container .admin-product-container .admin-product.active {
    background-color: black;
    color: white; }
  .page-container .admin-product-container .admin-product {
    position: relative;
    width: 350px;
    background-color: white;
    border: 1px inset rgba(0, 0, 0, 0.4);
    height: 350px;
    float: left; }
    .page-container .admin-product-container .admin-product:hover {
      cursor: pointer; }
    .page-container .admin-product-container .admin-product .name {
      font-size: 30px;
      width: 100%;
      position: relative;
      height: 60px;
      text-align: center; }
    .page-container .admin-product-container .admin-product .cost {
      font-size: 30px;
      width: 100%;
      position: relative;
      height: 60px;
      text-align: center; }
    .page-container .admin-product-container .admin-product .item-controls ul {
      list-style: none;
      margin: 0 auto;
      position: relative;
      width: 170px; }
      .page-container .admin-product-container .admin-product .item-controls ul li {
        float: left;
        margin-right: 20px;
        font-size: 26px; }
        .page-container .admin-product-container .admin-product .item-controls ul li:hover {
          cursor: pointer;
          text-decoration: underline; }

.page-container .remove-warning {
  height: 200px;
  width: 600px;
  position: fixed;
  top: 200px;
  left: calc((100% - 600px)/2);
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 700000;
  background-color: white;
  padding-top: 60px; }
  .page-container .remove-warning ul li:hover {
    cursor: pointer;
    text-decoration: underline; }

.page-container .new-item-interface {
  position: fixed;
  width: 900px;
  height: 600px;
  top: 200px;
  overflow: scroll;
  left: calc((100% - 900px)/2);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 7000; }
  .page-container .new-item-interface h2 {
    padding: 0px 0px 0px 20px; }
  .page-container .new-item-interface .new-item-form {
    margin: 0 auto;
    position: relative;
    width: 300px;
    top: 70px; }
