.shipping-container {
  position: relative;
  height: 400px;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  top: 40px;
  overflow: hidden;
  font-weight: bold; }
  .shipping-container header {
    height: 40px;
    background-color: #EBE9E6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    position: relative;
    z-index: 10000; }
    .shipping-container header .add-address {
      position: relative;
      margin-right: 10px;
      float: right;
      font-size: 30px;
      color: black;
      width: auto; }
      .shipping-container header .add-address:hover {
        cursor: pointer; }
  .shipping-container .address-list {
    position: relative;
    height: calc(100% - 40px);
    width: 100%; }
    .shipping-container .address-list .shipping-item {
      position: relative;
      height: 140px;
      width: 150px;
      margin: 10px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      float: left;
      text-align: center;
      padding-top: 10px; }
  .shipping-container .new-address-container {
    position: relative;
    height: calc(100% - 40px);
    width: 100%;
    background-color: lightgrey; }
