.header {
  width: 968px;
  height: auto;
  position: relative;
  left: 230px;
  font-size: 70px;
  color: black;
  text-align: left; }

.message {
  position: relative;
  left: 230px;
  font-size: 30px;
  width: calc(100% - 560px);
  margin-top: 20px; }
