@font-face {
  font-family: "clean";
  src: url(../fonts/clean.woff); }

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: clean;
  -webkit-font-smoothing: antialiased; }

a {
  color: #000000;
  text-decoration: none; }

/* unvisited link */
a:visited {
  color: #000000; }

/* visited link */
a:hover {
  color: #000000; }

/* mouse over link */
a:active {
  color: #000000; }

/* selected link */
.page-message {
  color: black;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0px;
  margin: 0px; }
  .page-message .message {
    width: 100%;
    padding: 0px;
    position: relative;
    color: #95a5a6;
    left: 0px;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 30px; }

.page-container {
  top: 80px;
  width: 100%;
  min-height: calc(100% - 80%);
  background-color: #FFFFFF;
  position: absolute; }
  .page-container .product-container {
    height: calc(100% - 80px);
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 0px 0px 0px 0px; }
    .page-container .product-container .product {
      height: 600px;
      width: 38.88%;
      margin-left: 5.4%;
      margin-right: 5.43%;
      margin-bottom: 11%;
      background-color: white;
      position: relative;
      display: block;
      overflow: hidden;
      border: 1px inset rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75); }
      .page-container .product-container .product:hover {
        cursor: pointer; }
      .page-container .product-container .product .product-image {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: 0% 0%;
        transition: background-position 0.9s; }
      .page-container .product-container .product .product-info.active {
        background-color: rgba(255, 255, 255, 0.6); }
      .page-container .product-container .product .product-info {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.6s; }
        .page-container .product-container .product .product-info .product-info-inside.active {
          opacity: 1; }
        .page-container .product-container .product .product-info .product-info-inside {
          width: 100%;
          height: 100px;
          position: relative;
          top: calc((100% - 100px)/2);
          margin: 0 auto;
          z-index: 5000;
          opacity: 0.0;
          transition: opacity 0.6s;
          text-align: center; }
          .page-container .product-container .product .product-info .product-info-inside .product-name {
            text-transform: uppercase;
            font-size: 30px;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            height: auto;
            position: relative; }
          .page-container .product-container .product .product-info .product-info-inside .product-cost {
            font-size: 45px;
            position: relative; }

footer {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px inset rgba(0, 0, 0, 0.4); }
