.include-view {
  height: 450px;
  position: relative;
  top: 150px;
  left: 0 auto;
  margin: 0 auto;
  width: 650px;
  border: 1px inset rgba(0, 0, 0, 0.4);
  margin-top: 15px; }

.display-container {
  position: absolute;
  background-color: #FFFFFF;
  height: 80px;
  width: 100%;
  z-index: 99999;
  -webkit-transition: height 0.3s, background-color 0.5s, opacity 0.5s;
  -moz-transition: height 0.5s, background-color 0.5s, opacity 0.5s;
  -ms-transition: height 0.5s, background-color 0.5s, opacity 0.5s;
  transition: height 0.5s, background-color 0.5s, opacity 0.5s;
  border-bottom: 1px inset rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: black;
  opacity: 1.0; }
  .display-container .page-header {
    height: 80px;
    position: absolute;
    width: 100%; }
    .display-container .page-header .logo {
      color: black;
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      top: 25px;
      left: 33px;
      position: absolute;
      z-index: 99999; }
  .display-container .display-media {
    position: absolute;
    margin: 100px 0px 0px 23px;
    height: 500px;
    width: 800px;
    border: 10px solid white;
    background-image: url(img/all-seeing.jpg); }
  .display-container .new-button-list {
    list-style: none;
    position: relative;
    left: 220px;
    margin-top: 33px;
    display: none; }
  .display-container .new-button {
    float: left;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: clean;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    opacity: 1.0; }
    .display-container .new-button:hover {
      opacity: 0.6;
      cursor: pointer; }
  .display-container .second-button-list {
    list-style: none;
    position: relative;
    float: right;
    display: none;
    margin-top: 33px;
    margin-right: 90px; }
  @media screen and (min-width: 48em) {
    .display-container .new-button-list {
      display: inline-block; }
    .display-container .second-button-list {
      display: inline-block; }
    .display-container .button-list {
      display: none; } }
  .display-container .button-list {
    position: absolute;
    right: 0px;
    margin: 80px 33px 0px 0px;
    text-align: right;
    list-style: none;
    display: none; }
    .display-container .button-list .button-item {
      width: 100%;
      font-size: 32px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 1px;
      transition: opacity 0.3s ease;
      opacity: 1.0; }
      .display-container .button-list .button-item:hover {
        opacity: 0.6; }

.display-container.open {
  height: 100%;
  opacity: 1.0; }

.mobile-nav-button {
  display: block; }

@media screen and (min-width: 48em) {
  .mobile-nav-button {
    display: none; } }

.custom-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  margin-right: 23px;
  right: 0;
  z-index: 99999999; }
  .custom-toggle:hover {
    cursor: pointer; }

.custom-toggle .bar {
  background-color: black;
  display: block;
  width: 30px;
  height: 1px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px); }

.custom-toggle .bar:nth-child(2) {
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px); }

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px; }

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 9px; }
