<section class="shipping-container">
	<header class="shipping-header">
		<div role="button" class="add-address" data-ng-click="state.addAddress = !state.addAddress">
			+
		</div>
	</header>
	<section class="address-list" data-ng-if="!state.addAddress">
			<section class="shipping-item" data-ng-repeat="item in user.shipping">
				<span data-ng-click="removeAddress(item)"> &times;</span>
				{{item.fullName}}<br />
				{{item.street}}<br />
				{{item.city}}, {{item.state}}
				{{item.zip}} <br />
				{{item.phone}} 
			</section>


	</section>
	<section class="new-address ng-trans ng-trans-fade-down" data-ng-show="state.addAddress">
		
		<form class="pure-form pure-form-stacked" data-ng-submit="addAddress()">
				<label for="name">Name</label>
				<input name="fullName" data-ng-model="newAddress.fullName" type="string" placeholder="James Bond">
				<label for="street">Street</label>
				<input name="street" data-ng-model="newAddress.street" type="string" placeholder="900 Lakeside Ave S">
				<label for="city">City</label>
				<input name="city" data-ng-model="newAddress.city" type="string" placeholder="Seattle">
				<label for="zip">Zip</label>
				<input name="zip" data-ng-model="newAddress.zip" type="string" placeholder="59860">
				<label for="state">State</label>
				<select name="state" data-ng-model="newAddress.state">
					<option>AL</option>
					<option>AK</option>
					<option>AZ</option>
					<option>AR</option>
					<option>CA</option>
					<option>CO</option>
					<option>CT</option>
					<option>DE</option>
					<option>FL</option>
					<option>GA</option>
					<option>ID</option>
					<option>IL</option>
					<option>IN</option>
					<option>IA</option>
					<option>KS</option>
					<option>KY</option>
					<option>LA</option>
					<option>ME</option>
					<option>MD</option>
					<option>MA</option>
					<option>MI</option>
					<option>MN</option>
					<option>MS</option>
					<option>MO</option>
					<option>MT</option>
					<option>NE</option>
					<option>NV</option>
					<option>NH</option>
					<option>NJ</option>
					<option>NM</option>
					<option>NY</option>
					<option>NC</option>
					<option>ND</option>
					<option>OH</option>
					<option>OK</option>
					<option>OR</option>
					<option>PA</option>
					<option>RI</option>
					<option>SC</option>
					<option>SD</option>
					<option>TN</option>
					<option>TX</option>
					<option>UT</option>
					<option>VA</option>
					<option>WA</option>
					<option>WV</option>
					<option>WI</option>
					<option>WY</option>
				</select>		
	
				<button type="submit" class="pure-button pure-button-primary">Sign in</button>
			
		</form>
	</section>
</section>