<main class="page-container pure-g ng-trans ng-trans-slide-left">
<section class="pure-u-1-24">
</section>
<section class="pure-u-11-12 detail-container">
	<section itemscope itemtype="http://schema.org/Product" class="detail-inside">
		<section class="detail-container-half">
		<section role="image" itemprop="image" alt="Product Image" class="detail-image-main" style="background-image: url(assets/model.jpeg)"></section>
		<div class="detail-slideshow"></div>
	</section>
	<section class="detail-container-half">
		<div class="top-row">
			<section class="pure-g">
				<div itemprop="name" class="detail-name pure-u-1">
					{{detailItem.item.name}}
				</div>
			</section>
			<section class="pure-g">
				<span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><div itemprop="price" class="detail-cost pure-u-1">
					${{detailItem.item.cost}}.00
				</div></span>
			</section>
		</div>
		<section class="pure-g middle-row">
			<div class="pure-u-1-1">
				<div class="detail-descriptions">
					<p itemprop="description">This is the dopest shirt from around the block.
						Your momma wants this damn shirt but she dont got it because your
						daddy had bought all to make a quick buck off folks like you
					and your family and kind. Talk a quick wak</p>
				</div>
				<div class="detail-specs"></div>
			</div>
		</section>
		<section class="pure-g sizes-row">
				<ul class="size-list">
					<li data-ng-repeat="size in detailItem.item.sizes" data-ng-click="detailItem.changeSize(size)" class="detail-size"> {{size | uppercase}} </li>
				</ul>
			</section>
			<section class="pure-g cart-row">
				<div class="add-button" data-ng-click="addToCart()"> Add To Cart </div>
			</section>
		</section>
	</section>
</section>
<section class="pure-u-1-24">
</section>
</main>