.account-container{
	.preview-cart{
		.cart-item{
			height: 60px;
			background-color: #ecf0f1;
			width: 100%;
			border-bottom: 1px solid rgba(0,0,0,0.4);
			padding: 0px;
			margin: 0px;

			&:hover{
				cursor: pointer;
			}
		}

	}
}
