.page-container {
    .admin-controls {
        margin-left: -40px;
        top: 30px;
        position: relative;

        .admin-button-list {
            list-style: none;
            width: 680px;
            height: 60px;
            margin: 0px auto 0px auto;
            position: relative;

            .admin-button {
                width: 150px;
                height: 40px;
                margin: 10px;
                text-align: center;
                padding-top: 15px;
                color: white;
                background-color: black;
                font-weight: bold;
                border-radius: 5px;
                float: left;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .admin-product-container {
        height: auto;
        width: 706px;
        min-height: 1200px;
        position: relative;
        margin: 0 auto;
        top: 70px;
        margin-bottom: 100px;

        .admin-product.active {
            background-color: black;
            color: white;
        }

        .admin-product {
            position: relative;
            width: 350px;
            background-color: white;
            border: 1px inset rgba(0, 0, 0, 0.4);
            height: 350px;
            float: left;

            &:hover {
                cursor: pointer;
            }

            .name {
                font-size: 30px;
                width: 100%;
                position: relative;
                height: 60px;
                text-align: center;
            }

            .cost {
                font-size: 30px;
                width: 100%;
                position: relative;
                height: 60px;
                text-align: center;
            }

            .size-container {
                .size-item {
                    .size {}

                    .quantity {}
                }
            }

            .item-controls {
                ul {
                    list-style: none;
                    margin: 0 auto;
                    position: relative;
                    width: 170px;

                    li {
                        float: left;
                        margin-right: 20px;
                        font-size: 26px;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .remove-warning {
        height: 200px;
        width: 600px;
        position: fixed;
        top: 200px;
        left: calc((100% - 600px)/2);
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center;
        z-index: 700000;
        background-color: white;
        padding-top: 60px;

        ul {
            li {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .new-item-interface {
        position: fixed;
        width: 900px;
        height: 600px;
        top: 200px;
        overflow: scroll;
        left: calc((100% - 900px)/2);
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.4);
        z-index: 7000;

        h2 {
            padding: 0px 0px 0px 20px;
        }

        .new-item-form {
            margin: 0 auto;
            position: relative;
            width: 300px;
            top: 70px;
        }
    }
}