// LOGIN

.button {
    height: 50px;
    width: 175px;
    position: relative;
    letter-spacing: 1px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 2px;
    background-color: #0078e7;
    color: #fff;
    border: none;

    &:active {
        background-color: darken(#0078e7, 10%);
    }
}

.input {
    width: 300px;
    margin-bottom: 5px;
}

.auth-form {
    margin: 0 auto;
    position: relative;
    width: 300px;
    top: 70px;
}

.login-form{
    @extend .auth-form;
}


.register-form{
    @extend .auth-form;
}