.shipping-container {
    position: relative;
    height: 400px;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    top: 40px;

    overflow: hidden;
    font-weight: bold;

    header {
        height: 40px;
        background-color: #EBE9E6;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        width: 100%;
        position: relative;
        z-index: 10000;

        .add-address {
            position: relative;
            margin-right: 10px;
            float: right;
            font-size: 30px;
            color: black;
            width: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .address-list {
        position: relative;
        height: calc(100% - 40px);
        width: 100%;

        .shipping-item {
            position: relative;
            height: 140px;
            width: 150px;
            margin: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            float: left;
            text-align: center;
            padding-top: 10px;
        }
    }

    .new-address-container {
        position: relative;
        height: calc(100% - 40px);
        width: 100%;
        background-color: lightgrey;
    }
}