.page-container {
    .detail-container {
        .detail-inside {
            height: 600px;
            margin-top: 60px;
            // border: 1px solid rgba(0, 0, 0, 0.4);

            .detail-container-half {
                width: 50%;
                float: left;
                height: 600px;
                display: relative;
                display: inline-block;
                position: relative;

                .detail-image-main {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                }

                // .detail-slideshow {
                //     height: 100px;
                //     width: 100%;
                //     background-color: lightgrey;
                // }

                .top-row {
                    margin-top: 40px;
                    margin-left: 40px;

                    .detail-name {
                        font-family: clean;
                        font-weight: bold;
                        margin-top: 10px;
                        font-size: 28px;
                        text-transform: uppercase;
                    }

                    .detail-cost {
                        width: 100px;
                        height: auto;
                        font-size: 28px;
                        font-weight: bold;
                        font-family: clean;
                    }
                }

                .middle-row {
                    width: 100%;

                    

                    .detail-descriptions {
                        margin: 40px;
                        font-size: 18px;
                    }

                    .detail-specs {
                        height: 40px;
                        background-color: white;
                    }
                }

                .sizes-row {
                    .size-list {
                        top: 0px;
                        list-style: none;
                        margin: 0 auto;
                        padding-left: 10px;
                    }

                    .detail-size {
                        margin: 10px;
                        padding: 10px;
                        width: 30px;
                        font-size: 20px;
                        text-align: center;
                        font-weight: bold;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        float: left;

                        &:nth-of-type(1) {
                            margin-left: 0px;
                        }
                    }
                }

                .cart-row {
                    .add-button {
                        height: 50px;
                        width: 175px;
                        padding-top: 25px;
                        background-color: #C0392B;
                        margin: 15px auto 0 auto;
                        letter-spacing: 1px;
                        font-size: 22px;
                        text-align: center;
                        font-weight: bold;
                        color: white;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active {
                            background-color: darken(#C0392B, 10%);
                        }
                    }
                }
            }
        }
    }
}
