<main class="account-container" data-ng-controller="AccountController">
<!-- 	<input type="button" class="remove-all-items" data-ng-click="removeAllItems()">
		<!-- Empty Cart -->
	</input> 
	<section class="preview-cart">
		<aside class="cart-empty" data-ng-show="!cart">
			No items in cart.
		</aside>
		<section class="cart-item" data-ng-repeat="cartItem in cart" data-ng-click="goToDetail(cartItem.product._id)">
			{{cartItem.product.name}}
			{{cartItem.quantity}}
			{{cartItem.size | uppercase}}
		</section>
	</section>
</main>
