<main class="page-container">

	<!-- Controls -->
	<section class="admin-controls">
		<ul class="admin-button-list">
			<li class="admin-button" role="button" data-ng-click="toggleNewItemInterface()">Add Item</li>
			<li class="admin-button" role="button" data-ng-click="showWarning = true;">Remove Item</li>
			<li class="admin-button" role="button" data-ng-click=""></li>
			<li class="admin-button" role="button" data-ng-click=""></li>
		</ul>
	</section>

	<!-- Admin Product Container -->
	<div class="admin-product-container">
		<section class="admin-product ng-trans ng-trans-fade-up" data-ng-class="item._id == selectedItemId ? 'active' : ' ' " data-ng-repeat="item in adminItems">
				<header class="name">{{item.name}}</header>
				<section class="cost">${{item.cost}}.00</section>
				<section class="item-controls">
					<ul>
						<li data-ng-click="goToItem(item._id)">View</li>
						<li data-ng-click="selectItemAdmin(item._id)">Select</li>
					</ul>
				</section>
		</section>
	</div>

	<!-- New Item Interace -->
	<aside class="new-item-interface ng-trans ng-trans-slide-down" data-ng-show="showNewItemInterface">
		<h2> Create New Item </h2>
		<form class="pure-form pure-form-aligned new-item-form" data-ng-submit="createNewItem(newItem)">
			<section class="pure-control-group">
				<input type="text" name="name" class="input" data-ng-model="newItem.name" placeholder="Item name">
			</section>
			<section class="pure-control-group">
				<input type="text" name="cost" class="input" data-ng-model="newItem.cost" placeholder="Item cost">
			</section>
			<section class="pure-control-group">
				<textarea type="text" name="description" class="input" data-ng-model="newItem.description" placeholder="Item Description"></textarea>
			</section>
			<button type="submit" class="pure-button pure-button-primary"> Create </button>
		</form>
	</aside>

	<!-- Delete Item Check -->
	<aside class="remove-warning" data-ng-show="showWarning">
		Are you sure you want to PERMANENTLY DELETE the selected item?
		<br/>
		<ul>
			<li data-ng-click="removeItem()">DELETE</li>
			<br/>
			<li data-ng-click="showWarning = false">GO BACK</li>
		</ul>
	</aside>
</main>
