<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <meta name="fragment" content="!"> -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Maker & Meeks </title>
    <!-- Styles-->
    <link rel="stylesheet" href="styles/css/index.css">
    <link rel="stylesheet" href="styles/css/navigation.css">
    <link rel="stylesheet" href="styles/css/contact.css">
    <link rel="stylesheet" href="styles/css/detail.css">
    <link rel="stylesheet" href="styles/css/slideshow.css">
    <link rel="stylesheet" href="styles/css/checkout.css">
    <link rel="stylesheet" href="styles/css/auth.css">
    <link rel="stylesheet" href="styles/css/account.css">
    <!-- Pure CSS -->
    <link rel="stylesheet" href="styles/css/pure.css">
    
    <link rel="stylesheet" href="lib/animate.css/animate.css">
    <link rel="stylesheet" href="styles/css/admin.css">
    <link rel="stylesheet" href="styles/css/auth.css">
    <link rel="stylesheet" href="styles/css/account.css">
    <!--Resources-->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
    <link rel="stylesheet" href="lib/ng-trans.min.css">
    <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/animate.css/animate.css" />
    <!-- Load our angular project -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/MainController.js"></script>
    <script type="text/javascript" src="app/controllers/CheckoutController.js"></script>
    <script type="text/javascript" src="app/controllers/AuthController.js"></script>
    <script type="text/javascript" src="app/controllers/ProductController.js"></script>
    <script type="text/javascript" src="app/services/MainService.js"></script>
    <!-- Analytics.js -->
    <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("s4noKFWcS7z1Zpevty1nG6S6gnr1NkRF");
      }}();
      </script>
      <base href="/">
    </head>
    <body ng-app="notify">
      <div class="display-container" ng-class="menu.isOpen ? 'open' : ' ' " ng-controller="NavController">
        <ul class="button-list">
          <li class="button-item"><a href="#!/">Men</a></li>
          <li class="button-item"><a href="#!/contact">Women</a></li>
          <li class="button-item"><a href="#!/cart">Summer 2016</a></li>
          <li class="button-item"><a href="#!/contact">Contact</a></li>
        </ul>
        <div class="page-header">
          <div class="logo"><a href="#!/">Maker & Meeks</a></div>
          <ul class="new-button-list">
            <li class="new-button"><a href="#!/products">Men</a></li>
            <li class="new-button"><a href="#!/products">Women</a></li>
            <li class="new-button"><a href="#!/products">Summer 2016</a></li>
          </ul>
          <ul class="second-button-list">
            <li class="new-button" class="custom-toggle" ng-class="menu.isOpen ? 'x' : ' ' " id="toggle" ng-click="menu.toggle()"><span href="#" data-ng-show="auth">Login</span><span href="#" data-ng-show="!auth">Bag</span></li>
            <li class="new-button"><a href="#!/checkout"><span data-ng-show="!auth">Checkout</a></li>
          </ul>
          <span href="#" class="custom-toggle mobile-nav-button" ng-class="menu.isOpen ? 'x' : ' ' " id="toggle" ng-click="menu.toggle()">
            <s class="bar"></s>
            <s class="bar"></s>
            <s class="bar"></s>
          </span>
        </div>
        <div class="include-view">
          <ng-include src="include.url"></ng-include>
        </div>
        <a href="#!/admin">Admin</a>
      </div>
      
      <div ng-view></div>
    </body>
  </html>