<main name="contact">
<div class="page-container">
	<section class="page-message">
		<h2 class="message">
		Like doing cool stuff?
		</h2>
	</section>
	<div class="header">
		
	</div>
	<div class="message">
		We love opportunities to collaborate with other emerging companies.
		Drop us a line if you think we can do something cool together.
	</div>
	<ng-include src="'app/templates/footer/footer.html'"></ng-include>
</div>

</main>