<main data-ng-controller="AuthController">
	<!-- Toggle Between Login and Register -->
	<ul>
		<li data-ng-click="changeView.login()" role="button">Login</li>
		<li data-ng-click="changeView.register()" role="button">Register</li>
	</ul>
	<!-- Login View -->
	<section class="login-view" data-ng-show="changeView.views.login">
		<div data-ng-controller="LoginController">
			<div class="login-form">
				<form class="pure-form pure-form-aligned" data-ng-submit="loginUser()">
					<section class="pure-control-group">
						<input type="text" name="email" class="input" data-ng-model="login.email" placeholder="Email">
					</section>
					<section class="pure-control-group">
						<input type="password" name="password" class="input" data-ng-model="login.password" placeholder="Password">
					</section>
					<button type="submit" class="pure-button pure-button-primary"> Login </button>
				</form>
			</div>
		</div>
	</section>
	<!-- Register View -->
	<section class="registerView" data-ng-show="changeView.views.register">
		<div data-ng-controller="RegisterController">
			<div class="register-form">
				<form class="pure-form pure-form-aligned" data-ng-submit="registerUser()">
					<section class="pure-control-group">
						<input type="text" class="input" placeholder="Email" name="email" data-ng-model="register.email">
					</section>
					<section class="pure-control-group">
						<input type="password" class="input" placeholder="Password" name="password" data-ng-model="register.password">
					</section>
					<section class="pure-control-group">
						<input type="password" class="input" placeholder="Confirm Password" name="passwordCheck" ng-model="register.passwordCheck">
					</section>
					<button type="submit" class="pure-button pure-button-primary">Register</button>
				</form>
			</div>
		</div>
	</section>
</main>
