<main class="page-container">
<section class="page-message">
  <h2 class="message"> FREE SHIPPING ON ORDERS OVER $100.</h2>
</section>
<section class="slideshow-holder">
  <ng-include src="'app/templates/slideshow/slideshow.html'"></ng-include>
</section>
<div class="product-container">
  <!-- Item Main Container -->
  <div data-ng-repeat="row in products" class="pure-g ng-trans ng-trans-fade-up"">
    <section class="product" ng-repeat="product in row" data-ng-mouseenter="infoHover = true" data-ng-mouseleave="infoHover = false" itemscope itemtype="http://schema.org/Product">
      <section class="pure-u-1-2" >
        <a data-ng-href="#!/detail/{{product._id}}">
          <section role="image" itemprop="image" class="product-image" data-ng-class="infoHover ? 'active' : ' ' " style="background-image: url(assets/clothes1.jpg)">
          </section>
          <section class="product-info" data-ng-class="infoHover ? 'active' : ' ' ">
            <section class="product-info-inside" data-ng-class="infoHover ? 'active' : ' ' ">
            <section class="product-name" itemprop="name">{{product.name}}</section>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <section class="product-cost">${{product.cost}}.00</section>
          </span>
        </section>
      </section>
    </a>
  </section>
</section>
</div>
<!-- End Item Main Container -->
</div>
<ng-include src="'app/templates/footer/footer.html'"></ng-include>
</main>

